/* 1 2 2 */
section.content h2.heading#heading {
  background-color: tomato;
}

/* 1 1 1 */
h2.heading#heading {
  color: orange;
}

/* 1 0 0 */
#heading {
  color: gold;
}

/* 0 1 1 */
h2.heading {
  color: green;
}

/* 0 1 0 */
.heading {
  color: blue;
}

/* 0 0 1 */
h2 {
  color: red;
}

/* id class type */

/* 1 2 1 */
section.content.block#block {
  background-color: lightgreen;
}

/* 1 2 0 */
.content.block#block {
  background-color: purple;
}

h2 {
  background-color: green !important;
}


